*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:slateblue;
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}



h1{
    position:absolute;
    top:200px;
    font-size: 48px;
    font-family: sans-serif;
    color:white;
    
}

.container{
    width:250px;
    height:250px;
    background-color:#ddd;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 6px 6px rgba(0,0,0,0.1);
}



.second{
    width:2px;
    height:170px;
    display:flex;
    position:absolute;
    top:30px;
    left:115px;
}

.minute{
    width:4px;
    height:180px;
    display:flex;
    position:absolute;
    top:25px;
    left:115px;
}

.hour{
    width: 4px;
    height:140px;
    display:flex;
    position:absolute;
    top:45px;
    left:115px;
}


.visible{
    background-color: grey;
    width:100%;
    height:50%;
    position: absolute;
    top:50;
    left:50;
}

.number{
    font-size: 30px;
    font-family: sans-serif;
    color:slateblue;
}

.twelve{
    position: absolute;
    left:105px;
}

.three{
    position: absolute;
    left:220px;
    top:120px;  
}

.nine{
    position: absolute;
    left:10px;
    top:120px;  
}

.six{
    position: absolute;
    left:120px;
    top:210px;  
}

